<ul class="nav nav-tabs">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      [routerLink]="['/countries/capital']"
      routerLinkActive="active"
      data-bs-toggle="tab"
      type="button"
      role="tab"
    >
      Capital
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      [routerLink]="['/countries/country']"
      routerLinkActive="active"
      data-bs-toggle="tab"
      type="button"
      role="tab"
      aria-selected="false"
    >
      País
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      [routerLink]="['/countries/region']"
      routerLinkActive="active"
      data-bs-toggle="tab"
      type="button"
      role="tab"
    >
      Región
    </button>
  </li>
</ul>
